body {
    background: black;
    color: #fff;
}

header {
    padding: 15px;
}


main {
    padding: 20px;
}
.all{
    display:flex;
    flex-direction: column;
}
.category {
    max-width: 800px;
    margin-bottom: 10px;
}
.category button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;

}
.submit-three-question {
    justify-content: center;
    margin-bottom: 20px;
    text-align: left;
}
.q{
    background: grey;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-top:3px;
    padding-bottom: 3px;
    width:1500px;
}
.q h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: darkgreen;
}

.q p {
    font-size: 15px;
}